@import 'tailwindcss';
@import '@nuxt/ui';
@import 'tailwindcss' theme(static) source('../../../..');

:root {
  --ui-container: var(--container-8xl);
}

.shiki-icon-highlight {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  vertical-align: -0.25em;
  margin-right: 0.125em;
  background-color: var(--ui-text-highlighted);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: var(--shiki-icon-url);
  mask-image: var(--shiki-icon-url);
}
